const environment = {
  apiUrl: 'http://192.168.1.129:3000/api/v1',
  http_basic_user: '',
  http_basic_password: '',
  syn_schedule_in_ms: 300000,
  form: 'form.xlsx',
  video: 'video'
};

export default environment;
